<div class="pcoded-content">
  <!-- Page-header start -->
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-header-title">
            <h5 class="m-b-10">Dashboard</h5>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
              <a href="/"> <i class="fa fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <!-- Page-header end -->
  <div class="container" style="margin-top: 1rem">
    <!-- Page-header end -->
  <section class="section">
        <div class="card" style="margin: 0 1.5rem;">
            <div class="card-header custom-card-header">
                <h4>{{ contribution.title }}</h4>
                <i class="ti-calendar mr-1"></i> Saturday, March 2nd 2021
                <i class="ti-eye ml-2 mr-1"></i> 1,309
            </div>
            <div class="card-body" style="margin: 0 1.5rem;">
                <div id="body-header" style="display: flex; align-direction: row; margin-bottom: 1rem; justify-content: space-between">
                    <div class="right-body-header" style="display: flex; align-direction: row;">
                        {{#if contribution.userId.avatarUrl}}
                          <img
                            src="/avatars/{{contribution.userId.avatarUrl}}"
                            style="width:3rem;height:auto;border: #448aff solid 3px" 
                            class="img-radius" 
                            alt="User-Profile-Image"
                          />
                        {{else}}
                          <img
                            src="/assets/images/avatar-4.jpg"
                            style="width:3rem;height:auto;border: #448aff solid 3px" 
                            class="img-radius" 
                            alt="User-Profile-Image"
                          />
                        {{/if}}
                        <div class="user-info ml-3">
                            <a href="#" style="font-size: 1rem;"><b>{{ contribution.userId.username }}</b></a> 
                            <br>
                        </div>
                        {{#if isNotCurrentUser}}
                        {{/if}}
                    </div>
                    <a href="#">
                        <i class="ti-bookmark" style="font-size: 2rem;"></i>
                    </a>
                </div>
                <hr>
                <div id="content">
                    {{{ contribution.content }}}
                </div>
            </div>
        </div>
    </section>

    <div class="row mt-3" style="margin: 0 0.8rem;">
      <div class="col-md-4 mt-3" id="recommendContributions">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h4>Students who viewed this also studied</h4>
            </div>
            <div class="row">
              {{#each recommendContributions}}
                <div class="col-sm-12 col-md-6">
                  <div class="card">
                    <a href="/contribution/details/{{_id}}">
                      <img 
                        class="card-img-top" 
                        src="/thumbnails/{{thumbnailFileName}}" 
                        onerror="this.src = 'https://lh3.googleusercontent.com/proxy/TkRSN4FMphRuEWtVa2o17N6w72fr8hMBNdDHAfcPsTyMtfuJ2bZeeKWgBvV20MYffP7LgqKBYiIlpu0zLS2kIdmrtbru6f8bJKmIWNXDMHaM'"
                        alt="Card image cap"
                      >
                    </a>
                    <div class="card-body">
                      <h5 class="card-title">
                        <a 
                          href="/contribution/details/{{_id}}" 
                          style="text-overflow: ellipsis;display: block;overflow: hidden;white-space: nowrap; margin-bottom: 0.5rem"
                        >
                          {{ title }}
                        </a>
                      </h5>
                      <p 
                        class="card-text"
                        style="text-overflow: ellipsis;display: block;overflow: hidden;white-space: nowrap; margin-bottom: 0.5rem"
                       >
                        02/2021
                       </p>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8" style="height: 50rem">
        <div class="card" style="height: 50rem">
          <div id="viewer" style="height: 50rem"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="pcoded-inner-content mt-5">
        <div class="tab-pane" id="review" role="tabpanel" style="padding: 0 8rem">
                <div class="card">
                    <div class="card-header">
                    <h5 class="card-header-text">Comments</h5>
                    </div>
                    <div class="card-block">
                    <ul class="media-list">
                      {{#each contribution.contributionComments}}
                      {{#if isNotFirst}}
                        <hr>
                      {{/if}}
                        <li class="media">
                        <div class="media-left">
                            <a href="#">
                            {{#if userId.avatarUrl}}
                              <img
                                  class="media-object img-radius comment-img"
                                  src="/avatars/{{userId.avatarUrl}}"
                                  alt="Generic placeholder image"
                              />
                            {{else}}
                              <img
                                  class="media-object img-radius comment-img"
                                  src="/assets/images/avatar-4.jpg"
                                  alt="Generic placeholder image"
                              />
                            {{/if}}
                            </a>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                              <a href="#">
                                {{ userId.username }}
                              </a>
                            <span class="f-12 text-muted m-l-5">{{ timeAgo }}</span
                            >
                            </h6>
                            <p class="m-b-0">
                              {{ content }}
                            </p>
                            
                            
                        </li>
                      {{/each}}
                    </ul>
                    <form action="/contribution/details/comment" method="post" class="form-material right-icon-control">
                        <div class="form-group form-primary">
                        <input type="text" class="form-control" name="content" required="" />
                        <span class="form-bar"></span>
                        <label class="float-label"
                            >Write something.....</label
                        >
                        </div>
                        <div class="form-icon">
                        <input type="hidden" name="userId" value={{ currentUser._id }}>
                        <input type="hidden" name="contributionId" value={{ contribution._id}}>
                        <button
                          type="submit"
                          class="btn btn-success btn-icon waves-effect waves-light"
                        >
                            <i class="icofont icofont-send-mail"></i>
                        </button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
  </div>

  <input type="hidden" id="fileName" name="fileName" value='{{contribution.fileName}}'>
</div>
