<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
            <div class="page-header-title">
                <h5 class="m-b-10">Upload document</h5>
                <p class="m-b-0">Welcome to Mega Able</p>
            </div>
            </div>
            <div class="col-md-4">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                <a href="/"> <i class="fa fa-home"></i> </a>
                </li>
                <li class="breadcrumb-item"><a href="#!">Upload Document</a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>
    <br />

    <div class="container" style="margin-top: 25px">
        <br />
        <div class="row">
            <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body" style="margin: 0px 20px">
                <!-- Upload file -->
                <form action="/contribution" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3" style="margin-top: 20px">
                        <input type="file" name="file" class="form-control" id="upload" />
                        <input type="submit" id="submit" style="visibility: hidden;position: absolute">
                        <label class="input-group-text" for="submit">Upload</label>
                    </div>
                </form>
                <!-- Upload Finished -->
                <div class="d-flex justify-content-between">
                    <div class="col-lg-12">
                    <ul class="list-group list-group-flush">
                        <li
                        class="list-group-item"
                        style="background-color: #f1f1f1; margin: 0px"
                        >
                            <div class="container">
                                <div class="row">
                                <div
                                    class="col-3"
                                    style="text-align: left; padding-top: 10px"
                                >
                                    <p style="font-size: 1rem; font-weight: bold">
                                    {{numOfUploads}} uploads received
                                    </p>
                                </div>
                                <div
                                    class="col-3"
                                    style="text-align: left; padding-top: 10px"
                                >
                                    <p style="font-size: 1rem; font-weight: bold">
                                    Title
                                    </p>
                                </div>
                                <div
                                    class="col"
                                    style="text-align: left; padding-top: 10px"
                                >
                                    <p style="font-size: 1rem; font-weight: bold">
                                    Status
                                    </p>
                                </div>
                                <div class="col"></div>
                                </div>
                            </div>
                        </li>
                        {{#if contributions}}
                            {{#each contributions}}
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-3" style="text-align: left">
                                                <a href="/contribution/my/{{_id}}">{{originalFileName}}</a>
                                            </div>
                                            <div class="col-3" style="text-align: left">
                                                <a href="/contribution/my/{{_id}}">{{title}}</a>
                                            </div>
                                            <div class="col" style="text-align: left">
                                                <b style="color: {{statusColor}}">{{ status }}</b>
                                            </div>
                                            <div class="col" style="text-align: left">
                                                <button class="btn btn-primary">
                                                    <a href="#" style="color: white;">
                                                        Reupload 
                                                    </a>
                                                </button>
                                                <form action="/contribution/delete" method="post" style="display: inline-block;">
                                                    <button type="submit" class="btn btn-danger" name="delete">Delete</button>
                                                    <input type="hidden" name="redirect" value="/contribution/upload">
                                                    <input type="hidden" name="id" value={{_id}}>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                        {{else}}
                            <b class="my-3">No contributions found.</b>
                        {{/if}}
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>

        <nav aria-label="Page navigation" class="mt-3">
            <ul class="pagination justify-content-center">
            {{#if isPreviousEnabled}}
                <li class="page-item">
                <a class="page-link" href="/contribution/upload?page={{previousPageNum}}">Previous</a>
                </li>
            {{/if}}

            {{#each numList}}
                <li {{#if isActive}} class="page-item active" {{else}} class="page-item" {{/if}}>
                <a class="page-link" {{#if isActive}} href="#" {{else}} href="/contribution/upload?page={{number}}" {{/if}}>{{ number }}</a>
                </li>
            {{/each}}
            
            {{#if isNextEnabled}}
                <li class="page-item">
                <a class="page-link" href="/contribution/upload?page={{nextPageNum}}">Next</a>
                </li>
            {{/if}}
            </ul>
        </nav>
    </div>
    <!-- Page upload end -->
</div>